<header>
  <ul class="nav">
    <li>
      <a href="/">don't</a>
    </li>
    <li>
      <a href="/">count</a>
    </li>
        <li>
      <a href="/">me</a>
    </li>
    <li>
      <a href="/">out</a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
